@media (min-width: $tablet-width) {
    .corp-services {
        &__subtitle {
            white-space: pre-line;
        }
        &__text {
            max-width: unset;
        }
    }
}

@media (min-width: $desktop-width) {
    .corp-services {
        .services-descr {
            &__image {
                img {
                    width: 600px;
                    height: 460px;
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .corp-services {
        .services-descr {
            &__info {
                padding-right: 150px;
            }
        }
    } 
}