.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding: 0 28px;
}

.button {
  display: block;
  padding: 4px 20px;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: $button;
}

.title {
  @include reset-style;
  position: relative;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  &--red {
    color: $title-red;
    &:before,
    &:after {
      background-color: $title-red;
    }
  }
  &--white {
    color: #ffffff;
    &::before,
    &:after {
      background-color: #fff;
    }
  }
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 25px;
    height: 2px;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.subtitle {
  @include reset-style;
  font-family: "Georgia", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  white-space: pre-line;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 40px;
  }
  .title {
    font-size: 20px;
    &:before,
    &:after {
      width: 123px;
    }
  }
  .subtitle {
    white-space: nowrap;
    font-size: 36px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0;
  }
  .subtitle {
    font-size: 40px;
  }
}
