.header {
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.header-info {
    margin-bottom: 55px;
    padding: 7px 0px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 14px;
    background-color: $header-info;
    span {
        display: inline-block;
        padding-left: 12px;
        border-left: 1px solid #ffffff;
    }
    svg {
        position: relative;
        top: 2px;
        fill: #ffffff;
    }
}

.header-info__phone-link {
    display: inline-block;
    padding-right: 11px;
    color: #ffffff;
    &:hover {
        transform: scale(1.2);
        transition: 0.4s;
    }
}

.header-social {
    display: none;
}

.main-nav {
    display: none;
}

.header-main {
    min-height: 678px;
    background-image: url(../images/header-bg-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 bottom;
    &__title {
        @include reset-style;
        margin-bottom: 35px;
        font-family: "Georgia", Arial, sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
    &__text {
        @include reset-style;
        margin-bottom: 25px;
        line-height: 20px;
        + p {
            margin-bottom: 30px;
        }
    }
    &__button {
        width: 50%;
    }
}

@media (min-width: $tablet-width) {
    .header {
        background-image: url(../images/bg-desktop.png);
    }
    .header-info {
        padding: 7px 0px;
        margin-bottom: 0;
        .container {
            display: flex;
            justify-content: space-between;
        }
    }
    .header-social {
        display: block;
        @include reset-style;
        display: flex;
        &__link {
            display: inline-block;
            padding: 0px 25px;
            font-size: 0;
            color: #ffffff;
            &:last-child {
                padding-right: 0;
            }
            &:hover {
                svg {
                    fill: $link-hover;
                    transform: scale(1.3);
                    transition: 0.5s;
                }
            }
        }
    }
    .main-nav {
        display: block;
    }
    .main-nav {
        border-bottom: 1px solid #8b8380;
        .container {
            display: flex;
            justify-content: space-between;
        }
        &__list {
            display: flex;
            @include reset-style;
            a {
                font-size: 14px;
                color: #ffffff;
            }
        }
        &__item {
            margin-right: 20px;
            padding: 35px 0px;
            &:last-child {
                margin-right: 0;
            }
            &--current {
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    background-color: #ffffff;
                }
            }
            a {
                &:hover {
                    color: $link-hover;
                    transition: 0.4s;
                }
            }
        }
        .phone {
            padding: 35px 0px;
            &__link {
                display: block;
                color: #ffffff;
                &:hover {
                    transform: scale(1.2);
                    transition: 0.4s;
                }
            }
            svg {
                position: relative;
                top: 2px;
                fill: $link-hover;
            }
        }
    }
    .header-main {
        min-height: 375px;
        background-image: url(../images/header-bg-2-desktop.png);
        background-position: right bottom;
        .container {
            padding: 0px 40px 60px;
        }
        &__title {
            padding-top: 30px;
            width: 50%;
            font-size: 40px;
            line-height: 44px;
        }
        &__text {
            width: 50%;
            font-size: 17px;
            + p {
                margin-bottom: 35px;
            }
        }
        &__button {
            width: 30%;
            &:hover {
                transform: scale(1.2);
                transition: 0.5s;
            }
        }
    }
}

@media (min-width: 984px) {
    .header-main__text {
        width: unset;
        + p {
            margin-bottom: 55px;
        }
    }
}

@media (min-width: $desktop-width) {
    .header-social {
        &__link {
            padding: 0 35px;
        }
    }
    .main-nav {
        margin-bottom: 0;
        &__list {
            a {
                font-size: 18px;
            }
        }
        &__item {
            margin-right: 65px;
        }
    }
    .phone__link {
        font-size: 19px;
    }
    .header-main {
        max-width: 1500px;
        margin: 0 auto;
        min-height: unset;
        background-image: url(../images/header-bg-2-desktop.png);
        background-repeat: no-repeat;
        background-position: right 0;
        background-size: auto;
        .container {
            padding: 118px 0 277px;
        }
        &__title {
            margin-bottom: 50px;
            padding: 0;
            width: unset;
            font-size: 60px;
            line-height: 66px;
            white-space: pre-line;
        }
        &__text {
            margin-bottom: 0;
            width: unset;
            font-size: 20px;
            line-height: 30px;
        }
        &__button {
            width: 160px;
        }
    }
}
