.ind-header {
    background-image: url(../images/ind-header-bg.png);
    .header-main {
        min-height: unset;
        padding-bottom: 55px;
        background-image: none;
        &__text {
            white-space: pre-line;
        }
        &__title {
            white-space: pre-line;
        }
    }
    .header-info {
        margin-bottom: 35px;
    }
}

@media (min-width: $tablet-width) {
    .ind-header {
        .header-main {
            padding-bottom: 60px;
            &__text {
                white-space: unset;
            }
            &__title {
                white-space: unset;
            }
        }
        .header-info {
            margin-bottom: 0;
        }
    }
}

@media (min-width: $desktop-width) {
    .ind-header {
        background-image: url(../images/ind-header-bg-desktop.png);
        .header-main {
            padding-bottom: 0;
            .container {
                padding: 110px 0 130px;
            }
            &__title {
                margin-bottom: 55px;
                white-space: unset;
            }
            &__text {
                margin-bottom: 55px;
            }
            &__button {
                width: 180px;
            }
        }  
    }
}
