@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min--moz-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min-resolution: 1.5dppx),
        only screen and (min-resolution: 144dpi) {
        @content;
    }
}

@mixin reset-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

$tablet-width: 768px;
$desktop-width: 1280px;

$button: #b4251a;
$header-info: #212021;
$link-hover: #de3025;
$title-red: #de3025;
$text: #313131;
$bg: #f5f4f1;
$data: #da4c41;
$bg-services: #f6f5f1;
$price: #de3025
